:root {
    --text: #ece9eb;
    --background: #060505;
    --primary: #ef80c0;
    --secondary: #5b3e4f;
    --accent: #ab7795;
}

* {
    font-family: "JetBrainsMono Nerd Font", "Jetbrains Mono", monospace;
    font-size: 24;
    color: var(--text)
}

h1 {
    font-size: 48;
}

h2 {
    font-size: 36;
}

body {
    display: flex;
    background-color: var(--background);
    justify-content: center;
}

.paneContainer {
    display: flex;
    width: 99vw;
    height: 99vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.pane {
    background-color: var(--background);
    color: var(--text);
    margin: 4px;
    padding: 4px;
    border: 2px solid var(--accent);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
}

.left {
    width: 15%;
    flex-direction: column;
    justify-content: left;

}

.center {
    width: 30%;
    flex-direction: column;
    justify-content: left;
}

.right {
    width: 55%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.button {
    width: 100%;
    border: none;
    background: none;
    color: var(--text)
}

.button:hover {
    color: var(--background);
    background-color: var(--text);
}
.button:hover>* {
    color: var(--background);
}
.button:focus {
    background-color: var(--text);
    outline: none;
}
.button:focus > * {
    color: var(--background);
}