<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="{{ url_for('css', path='Terminal.css') }}"
            rel="stylesheet"
        />
        <title>Evan Savage</title>
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="terminals-container">
            <div class="terminal-container">
                <div
                    id="terminal-output"
                    class="terminal-output"
                    hx-get="/terminal-command?command=welcome"
                    hx-trigger="load once"
                    hx-target="#terminal-output"
                    hx-swap="innerHTML"
                ></div>
                <div class="terminal-input-line">
                    <span class="prompt"> visitor@evansavage.me > </span>
                    <form
                        hx-get="/terminal-command"
                        hx-trigger="submit"
                        hx-target="#terminal-output"
                        hx-swap="beforeend"
                    >
                        <input
                            type="text"
                            name="command"
                            id="terminal-input"
                            class="terminal-input"
                            autofocus
                            autocomplete="off"
                        />
                    </form>
                </div>
            </div>
        </div>

        <script>
            // Keep focus on input field
            document.addEventListener("click", function () {
                document.getElementById("terminal-input").focus();
            });

            // Clear input after submission but maintain focus
            document
                .querySelector("form")
                .addEventListener("htmx:afterOnLoad", function () {
                    const input = document.getElementById("terminal-input");
                    input.value = "";
                    input.focus();
                });
        </script>
    </body>
</html>
