<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="{{ url_for('css', path='Terminal.css') }}"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="/favicon" />
        <title>Evan Savage</title>
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <script src="{{ url_for('js', path='keyboardnav.js') }}"></script>
    </head>
    <body>
        <div class="paneContainer">
            <div class="pane left">
                <button
                    class="button"
                    hx-get="/folder/personal"
                    hx-target=".pane.center"
                    hx-swap="innerHTML"
                    tabindex="0"
                >
                    <h1>Personal</h1>
                </button>
                <button
                    class="button"
                    hx-get="/folder/projects"
                    hx-target=".pane.center"
                    hx-swap="innerHTML"
                    tabindex="0"
                >
                    <h1>Projects</h1>
                </button>
                <button
                    class="button"
                    hx-get="/folder/resume"
                    hx-target=".pane.center"
                    hx-swap="innerHTML"
                    tabindex="0"
                >
                    <h1>Misc</h1>
                </button>
            </div>
            <div class="pane center"></div>
            <div class="pane right" id="result-container"></div>
        </div>
    </body>
</html>
